schema/schema_0.99/mzML0.99.12_idx.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid XML Studio 1.0.8.0 (http://www.liquid-technologies.com) -->
<xs:schema xmlns="http://psi.hupo.org/schema_revision/mzML_0.99.12" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://psi.hupo.org/schema_revision/mzML_0.99.12" version="0.99.12" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:include schemaLocation="mzML0.99.12.xsd" />
  <xs:element name="indexedmzML">
    <xs:annotation>
      <xs:documentation>Container element for mzML which allows the addition  of an index.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="mzML" />
        <xs:element minOccurs="1" name="indexList">
          <xs:annotation>
            <xs:documentation>List of indices.</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="1" maxOccurs="unbounded" name="index">
                <xs:annotation>
                  <xs:documentation>Index element containing one or more offsets for random data access for the entity described in the 'name' attribute.</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="offset">
                      <xs:annotation>
                        <xs:documentation>File pointer offset (in bytes) of the element identified by the 'id' attribute.</xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:long">
                            <xs:attribute name="idRef" type="xs:IDREF" use="required">
                              <xs:annotation>
                                <xs:documentation>Reference to the 'id' attribute of the indexed element.</xs:documentation>
                              </xs:annotation>
                            </xs:attribute>
                            <xs:attribute name="nativeID" type="xs:string" use="required">
                              <xs:annotation>
                                <xs:documentation>The native identifier for the spectrum, used by the acquisition software.</xs:documentation>
                              </xs:annotation>
                            </xs:attribute>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="name" type="xs:string" use="required">
                    <xs:annotation>
                      <xs:documentation>The name of the entity the index entries are pointing to.</xs:documentation>
                    </xs:annotation>
                  </xs:attribute>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="count" type="xs:nonNegativeInteger" use="required">
              <xs:annotation>
                <xs:documentation>Number of indices in this list.</xs:documentation>
              </xs:annotation>
            </xs:attribute>
          </xs:complexType>
        </xs:element>
        <xs:element name="indexListOffset" nillable="true" type="xs:long">
          <xs:annotation>
            <xs:documentation>File pointer offset (in bytes) of the 'indexList' element.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="fileChecksum" type="xs:string">
          <xs:annotation>
            <xs:documentation>SHA-1 checksum from beginning of file to end of 'fileChecksum' open tag.</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>